<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <package android:name="com.loopermallee.moncchichi" />
    </queries>
    <uses-permission android:name="com.loopermallee.moncchichi.permission.CONNECT_TO_SERVICE"/>
</manifest>