<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teleprompter">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="android.app.Application"
        android:label="G1 Display"
        android:allowBackup="true"
        android:theme="@style/AppTheme"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="g1ot" />
            </intent-filter>
        </activity>
        <service
            android:name="com.loopermallee.moncchichi.service.G1DisplayService"
            android:exported="true"
            android:enabled="true" />
    </application>
</manifest>
