<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="android.app.Application"
        android:label="G1 Display"
        android:allowBackup="true"
        android:theme="@style/AppTheme"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <service
            android:name="io.texne.g1.basis.service.G1DisplayService"
            android:exported="true"
            android:enabled="true" />
    </application>
</manifest>
