<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <permission android:name="com.loopermallee.moncchichi.permission.CONNECT_TO_SERVICE" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application>
        <service
            android:name="com.loopermallee.moncchichi.bluetooth.G1DisplayService"
            android:exported="false"
            android:foregroundServiceType="connectedDevice"
            android:enabled="true" />

        <service
            android:name="com.loopermallee.moncchichi.service.G1Service"
            android:foregroundServiceType="connectedDevice"
            android:permission="com.loopermallee.moncchichi.permission.CONNECT_TO_SERVICE"
            android:stopWithTask="false"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.loopermallee.moncchichi.service.protocol.IG1Service" />
                <action android:name="com.loopermallee.moncchichi.service.protocol.IG1ServiceClient" />
            </intent-filter>
        </service>
    </application>
</manifest>
